<!DOCTYPE html>
<html>
<head>
	<title id="titleaa">游击Check</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 

	<script src="../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery-ui-11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="../js/jquery-ui-11.4/jquery-ui.theme.min.css">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/b.dialog.bootstrap3.css" type="text/css">
	<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>


	<!-- 消息提示 -->
	<link rel="stylesheet" href="../dist/noticejs.css" />

	<!-- mycss -->
	<link rel="stylesheet" type="text/css" href="../css/mycss.css">
	<script type="text/javascript" src="../js/Utility.js"></script>

	<!-- 引入bootstrap-table样式 -->
	<link href="../dist/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
	<link href="../dist/bootstrap-table/bootstrap-table.min.js">
	<link href="../dist/bootstrap-table/locale/bootstrap-table-zh-CN.min.js">
	<script src="../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery-ui-11.4/jquery-ui.min.js"></script>
	<script src="../dist/bootstrap-table/bootstrap-table.js"></script>

	<!-- 弹窗 -->
	<link rel="stylesheet" href="../css/dialog.css" type="text/css">
	<link rel="stylesheet" href="../css/b.dialog.bootstrap3.css" type="text/css">
	<script type="text/javascript" src="../js/b.dialog.js" ></script>
	<script type="text/javascript" src="../js/b.dialog.min.js"></script>

	

</head>
<body>
	<ul class="nav nav-pills">
	<li class="dropdown all-camera-dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			选择检查表
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="../view/Check_index_two.html?project_id=1">游击Check</a></li>
			<li><a href="../view/Check_index_two.html?project_id=2">AV控台区 大屏</a></li>
			<li><a href="../view/Check_index.html?project_id=3">AV控台区 灯光</a></li>
			<li><a href="../view/Check_index.html?project_id=4">公共信号字幕</a></li>
			<li><a href="../view/Check_index_two.html?project_id=5">公共信号赛前</a></li>
			<li><a href="../view/Check_index.html?project_id=6">公共信号赛后</a></li>
			<li><a href="../view/Check_index.html?project_id=7">公共信号音频</a></li>
			<li><a href="../view/Check_index.html?project_id=8">推流</a></li>
			<li><a href="../view/Check_index.html?project_id=9">推流周期1</a></li>
			<li><a href="../view/Check_index.html?project_id=10">推流周期2</a></li>
			<li><a href="../view/Check_index.html?project_id=11">推流周期3</a></li>
			<li><a href="../view/Check_index.html?project_id=12">推流周期4</a></li>
			<li><a href="../view/Check_index.html?project_id=13">赛事赛前</a></li>
			<li><a href="../view/Check_index.html?project_id=14">赛事进行</a></li>
			<li><a href="../view/Check_index.html?project_id=15">赛事赛后</a></li>
			<li><a href="../view/Check_index.html?project_id=16">票务&安保</a></li>
			<li><a href="../view/Check_index_two.html?project_id=17">采访席</a></li>
			<li><a href="../view/Check_index.html?project_id=18">内场</a></li>
			<li><a href="../view/Export.html">导出页</a></li>
		</ul>
	</li>
	<img src="../image/vspn_slogan.png" style="height:40px;">
	</ul>

	<header class="header">
		<h1>2018年KPL春季赛常规赛 Checklist <span id="project_name">表名</span></h1>
		<span id="cu_date">日期</span>
	</header>

	<div class="export_bg" style="margin-top:20px;">
		<table id="table"></table>
	</div>
	<div style="text-align:right"><input type="button" value="提交" class="btn btn-success" id="btnFormSave" style="width:170px; margin-right: 20px; margin-top: 15px;" /></div>

	<div id="rep_btn" style="text-align:right"><input type="button" value="添加负责人检查意见" class="btn btn-success" id="btn_rep" style="width:170px; margin-right: 20px; margin-top:10px;"/></div>

 	<div class="rep_text">
 		<div><label class="rep" id="rep_name">负责人:null</label></div>
 		<div><label class="rep" id="rep_desc">检查意见及处理结果:null</label></div>
 	</div>

	<script type="text/javascript">
	//初始化全局变量
	var tabledata = new Array();

	//获取时间/标题
	function request_time(){
 		var date = new Date();
		var Y = date.getFullYear();
		var M = date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1;
		var D = date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate();
		var day = Y + "年" + M + "月" + D + "日";

		document.getElementById("cu_date").innerHTML = day;
		document.getElementById("project_name").innerHTML = exchange_project_name(Request("project_id"));
		document.getElementById("titleaa").innerHTML = exchange_project_name(Request("project_id"));
		
 	};

 	//显示时间/标题
 	request_time();

 	//解析url
 	function Request(strName){
 		var strHref = location.search;
 		var intPos = strHref.indexOf("?");
 		var strRight = strHref.substr(intPos + 1);
 		var arrTmp = strRight.split("&");
 		for(var i = 0; i < arrTmp.length; i++){
 			var arrTemp = arrTmp[i ].split("=");
 			if(arrTemp[0].toUpperCase() == strName.toUpperCase()) return arrTemp[1];
 		}
 		return "";
 	}

 	$(function() {
 		$("#table").bootstrapTable({
			cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
			striped: true,  //表格显示条纹，默认为false

			columns: [
				{field:"checkbox",title:"选择",align:'center',valign:'middle',width:'50px',formatter:
					function(value, data, cell, row, options){
						var select_no = "<img src='../image/icon_register_radio@2x.png' alt='未选择' width=80% heigth=80%/>";
						var select_on = "<img src='../image/icon_register_radio_on@2x.png' alt='已选择' width=80% heigth=80%/>";
						if(value == 1){
							return select_on;
						}
						else if(value == -1){
							return null;
						}
						else{
							return select_no;
						}
					},
				},
				{field:"region",title:"区域",align:'center',valign: 'middle'},
				{field:"code",title:"编号",align:'center',valign: 'middle'},
				{field:"inspect",title:"检查项",align:'center',valign: 'middle'},
				{field:"should_time",title:"应该检查时间",align:'center',valign: 'middle'},
				{field:"inspect_time",title:"检查时间",align:'center',valign: 'middle'},
				{field:"edit_man",title:"编辑人员",align:'center',valign: 'middle'},
				{field:"user_name",title:"检查人",align:'center',valign: 'middle'},
				{field:"user_desc",title:"备注",align:'center',valign: 'middle'},

			],
			onClickRow:function(row, field){
				//alert(row.code);
				click_row(row.code - 1);
			}
		});
		//第一个表的提交按钮
		$('#btnFormSave').click(function(e){
			var num = 0;
			var id_arr = new Array();
			var user_name = new String();
			var desc = new String();
			var code_arr = new Array();

			//循环有多少被选中的行
			for (var i = 0; i <tabledata.length; i++){
				if (tabledata[i]["checkbox"] == 1) {
					id_arr.push(tabledata[i]["Inspection_item_id"]);
					code_arr.push(tabledata[i]["code"]);
					num ++;
				};
			}

			var url = new String();
			var heigh = 310;
			if (Request("project_id") == 4) {
				url = "../open.html";
				heigh = 380;
			}
			else{
				url = "../hello.html";
			}

			if (num != 0) {
				bDialog.open({
				title : "选择了 " + num + " 项",
				width : 500,
				height : heigh,
				customClass : 'blue',
				url : url,
				callback:function(data){
					if(data && data.results && data.results.length > 0 ){
						user_name = data.results[0].userName;
						desc = data.results[0].userDesc;
						edit = data.results[0].edit;
						send_confrim(user_name,desc,id_arr,code_arr,edit);
						//alert(user_name);
					}
				}
			});
			}

		});
	});

	//加载数据
	function relaodinfo(type){
		var date = new Date();
		var Y = date.getFullYear();
		var M = date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1;
		var D = date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate();
		var day = Y+M+D;
		var url = http + "index/zheng_info";
		var code_e = exchange_code_e_one(Request("project_id"));
		if (type == 1) {
			var dic = {"day":day,"project_id":Request("project_id"),"code_s":"1","code_e":code_e};
			$.post(url,dic,requestinfo);
		}
	}

	//获取数据后的操作
	function requestinfo(data,status){
		var project_id = Request("project_id");
		tabledata = new Array();
		tabledata = data["data"];
		//av控台区字幕需要添加编辑人员
		if (project_id != 4) {
			$('#table').bootstrapTable('hideColumn', "edit_man");
		}
		else{
			$('#table').bootstrapTable('showColumn', "edit_man");
		}
		//没有区域数据的隐藏区域列
		if (project_id == 1 || project_id == 4 || project_id == 5 || project_id == 13 || project_id == 16) {
			$('#table').bootstrapTable('showColumn', "region");
		}
		else{
			$('#table').bootstrapTable('hideColumn', "region");
		}
		//推流周期显示应该检查时间
		if (project_id == 9 || project_id == 10 || project_id == 11 || project_id == 12 || project_id == 16) {
			$('#table').bootstrapTable('showColumn', "should_time");
		}
		else{
			$('#table').bootstrapTable('hideColumn', "should_time");
		}
		//修改推流周期1数据
		if (project_id == 9) {
			for (var i = 0; i < tabledata.length; i++) {
				if (i <= 4) {
					tabledata[i]["should_time"] = "16:00";
				}
				else if (i >= 5 && i <= 9) {
					tabledata[i]["should_time"] = "16:30";
				}
				else if (i >= 10 && i <= 14) {
					tabledata[i]["should_time"] = "17:00";
				}
				else if (i >= 15 && i <= 19) {
					tabledata[i]["should_time"] = "17:30";
				}

			};
		};
		//修改推流周期2数据
		if (project_id == 10) {
			for (var i = 0; i < tabledata.length; i++) {
				if (i <= 4) {
					tabledata[i]["should_time"] = "18:00";
				}
				else if (i >= 5 && i <= 9) {
					tabledata[i]["should_time"] = "18:30";
				}
				else if (i >= 10 && i <= 14) {
					tabledata[i]["should_time"] = "19:00";
				}
				else if (i >= 15 && i <= 19) {
					tabledata[i]["should_time"] = "19:30";
				}

			};
		};
		//修改推流周期3数据
		if (project_id == 11) {
			for (var i = 0; i < tabledata.length; i++) {
				if (i <= 4) {
					tabledata[i]["should_time"] = "20:00";
				}
				else if (i >= 5 && i <= 9) {
					tabledata[i]["should_time"] = "20:30";
				}
				else if (i >= 10 && i <= 14) {
					tabledata[i]["should_time"] = "21:00";
				}
				else if (i >= 15 && i <= 19) {
					tabledata[i]["should_time"] = "21:30";
				}

			};
		};
		//修改推流周期4数据
		if (project_id == 12) {
			for (var i = 0; i < tabledata.length; i++) {
				if (i <= 4) {
					tabledata[i]["should_time"] = "22:00";
				}
				else if (i >= 5 && i <= 9) {
					tabledata[i]["should_time"] = "22:30";
				}
				else if (i >= 10 && i <= 14) {
					tabledata[i]["should_time"] = "23:00";
				}
				else if (i >= 15 && i <= 19) {
					tabledata[i]["should_time"] = "23:30";
				}

			};
		};
		//修改票务&安保数据
		if (project_id == 16) {
			tabledata[1]["should_time"] = "16:00";
			tabledata[2]["should_time"] = "17:00";
			tabledata[3]["should_time"] = "18:00";
			tabledata[4]["should_time"] = "19:00";
			tabledata[5]["should_time"] = "20:00";
		}
		
		$('#table').bootstrapTable('load', tabledata);
		mergeCells(tabledata, "region", 1, $('#table'));
		if (project_id != 16) {
			mergeCells(tabledata, "should_time", 1, $('#table'));
		};
		
	}

	relaodinfo(1);

	//选择按钮变化
	function click_row(index){
		if (tabledata[index]["checkbox"] == 1) {
			tabledata[index]["checkbox"] = 0;
		}
		else if (tabledata[index]["checkbox"] == -1){

		}
		else{
			tabledata[index]["checkbox"] = 1;
		}
		$('#table').bootstrapTable('updateRow', {index: index, row: tabledata[index]});
		mergeCells(tabledata, "region", 1, $('#table'));
		if (project_id != 16) {
			mergeCells(tabledata, "should_time", 1, $('#table'));
		};
	}

	//发送确认信息
	function send_confrim(name,desc,id_arr,code,edit){
		console.log(code);
		console.log(id_arr);
		console.log(Request("project_id"));
		var dic = {"user":name,"desc":desc,"id_arr":id_arr,"project_id":Request("project_id"),"code_arr":code,"edit":edit};
		var url = http + "index/submit_confirm";
		$.post(url,dic,send_requstinfo);
	}

	//确认信息返回
	function send_requstinfo(data,status){
		console.log(data);
		if (data["code"] == 200) {
			relaodinfo(1);
			//relaodinfo(2);
		};
	}

	//查询负责人提交信息
	function send_rep_info(){
		var date = new Date();
		var Y = date.getFullYear();
		var M = date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1;
		var D = date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate();
		var day = Y+M+D;
		var url = http + "index/request_rep_info";
		var dic = {"project_id":Request("project_id"),"confirm_day":day};
		$.post(url,dic,request_rep_info);

	}

	//获得负责人返回信息
	function request_rep_info(data,status){
		if (data["code"] == 200) {
			$("#rep_btn").remove();

			var name = "负责人:" + data["data"][0]["user_name"];
			var desc = "检查意见及处理结果:" +data["data"][0]["confirm_desc"];

			console.log(data);
			document.getElementById("rep_name").innerHTML = name;
			document.getElementById("rep_desc").innerHTML = desc;

		};
	}

	send_rep_info();

	//负责人确认
	$(function(){
		$('#btn_rep').click(function(e){
			bDialog.open({
				title : "负责人确认/意见/处理结果",
				width : 500,
				height : 310,
				customClass : 'blue',
				url : '../responsibility_confirm.html',
				callback:function(data){
						if(data && data.results && data.results.length > 0 ){
							user_name = data.results[0].userName;
							desc = data.results[0].userDesc;
							console.log(data.results);
							send_rep_confirm(user_name,desc);
						}
				}
			});
		});
	});

	//提交负责人确认信息接口
	function send_rep_confirm(name,desc){
		var dic = {"user":name,"desc":desc,"project_id":Request("project_id")};
		var url = http + "index/rep_submit_confirm";
		$.post(url,dic,rep_requestinfo);
	}

	//收到负责人确认信息接口返回
	function rep_requestinfo(data,status){
		if (data["code"] == 200) {
			$("#rep_btn").remove();
			send_rep_info();
		};
	}

	//合并相同名字单元格
	function mergeCells(data,fieldName,colspan,target){
    	//声明一个map计算相同属性值在data对象出现的次数和
    	var sortMap = {};
    	for(var i = 0 ; i < tabledata.length ; i++){
        	for(var prop in tabledata[i]){
            	if(prop == fieldName){
                	var key = tabledata[i][prop]
                	if(sortMap.hasOwnProperty(key)){
                    	sortMap[key] = sortMap[key] * 1 + 1;
                	} else {
                    	sortMap[key] = 1;
                	}
                	break;
            	} 
        	}
    	}
    	for(var prop in sortMap){
        	console.log(prop,sortMap[prop])
    	}
    	var index = 0;
    	for(var prop in sortMap){
        	var count = sortMap[prop] * 1;
        	$('#table').bootstrapTable('mergeCells',{index:index, field:fieldName, colspan: colspan, rowspan: count});   
        	index += count;
    	}
	}
	</script>
</body>
</html>