<!DOCTYPE html>
<html>
<head>
	<title>导出页</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 

	<script src="../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery-ui-11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="../js/jquery-ui-11.4/jquery-ui.theme.min.css">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/b.dialog.bootstrap3.css" type="text/css">
	<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>

	<!-- mycss -->
	<link rel="stylesheet" type="text/css" href="../css/mycss.css">
	<script type="text/javascript" src="../js/Utility.js"></script>

	<!-- 引入bootstrap-table样式 -->
	<link href="../dist/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
	<link href="../dist/bootstrap-table/bootstrap-table.min.js">
	<link href="../dist/bootstrap-table/locale/bootstrap-table-zh-CN.min.js">
	<script src="../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery-ui-11.4/jquery-ui.min.js"></script>
	<script src="../dist/bootstrap-table/bootstrap-table.js"></script>

	<!-- bootstrap-datepicker -->
	<link rel="stylesheet" type="text/css" href="../dist/bootstrap-datepicker/css/bootstrap-datepicker3.css">
	<script type="text/javascript" src="../dist/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="../dist/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>

	<!-- bootstrap-select -->
	<link rel="stylesheet" href="../dist/bootstrap-select/css/bootstrap-select.css">
	<script src="../dist/bootstrap-select/js/bootstrap-select.js" defer></script>

	<!-- export引用 -->
	<script type="text/javascript" src="../dist/bootstrap-table-export/xlsx.core.min.js"></script>
	<script type="text/javascript" src="../dist/bootstrap-table-export/FileSaver.min.js"></script>
	<script type="text/javascript" src="../dist/bootstrap-table-export/tableExport.js"></script>
	<script type="text/javascript" src="../dist/bootstrap-table-export/tableExport.min.js"></script>
	<script src="../dist/bootstrap-table-export/bootstrap-table-export.js"></script>

	

	<style type="text/css">

	</style>
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script> -->

<!-- Latest compiled and minified Locales -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script> -->


	
	
</head>
<body>
	<ul class="nav nav-pills">
	<li class="dropdown all-camera-dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			选择检查表
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="../view/Check_index_two.html?project_id=1">游击Check</a></li>
			<li><a href="../view/Check_index_two.html?project_id=2">AV控台区 大屏</a></li>
			<li><a href="../view/Check_index.html?project_id=3">AV控台区 灯光</a></li>
			<li><a href="../view/Check_index.html?project_id=4">公共信号字幕</a></li>
			<li><a href="../view/Check_index_two.html?project_id=5">公共信号赛前</a></li>
			<li><a href="../view/Check_index.html?project_id=6">公共信号赛后</a></li>
			<li><a href="../view/Check_index.html?project_id=7">公共信号音频</a></li>
			<li><a href="../view/Check_index.html?project_id=8">推流</a></li>
			<li><a href="../view/Check_index.html?project_id=9">推流周期1</a></li>
			<li><a href="../view/Check_index.html?project_id=10">推流周期2</a></li>
			<li><a href="../view/Check_index.html?project_id=11">推流周期3</a></li>
			<li><a href="../view/Check_index.html?project_id=12">推流周期4</a></li>
			<li><a href="../view/Check_index.html?project_id=13">赛事赛前</a></li>
			<li><a href="../view/Check_index.html?project_id=14">赛事进行</a></li>
			<li><a href="../view/Check_index.html?project_id=15">赛事赛后</a></li>
			<li><a href="../view/Check_index.html?project_id=16">票务&安保</a></li>
			<li><a href="../view/Check_index_two.html?project_id=17">采访席</a></li>
			<li><a href="../view/Check_index.html?project_id=18">内场</a></li>
			<li><a href="../view/Export.html">导出页</a></li>
		</ul>
	</li>
	<img src="../image/vspn_slogan.png" style="height:40px;">
	</ul>

	<header class="header">
		<h2>导出页</h2>
	</header>

	<!-- 筛选条件 -->
	<div class="Screening_conditions" align="center">
		<form class="form-inline">
		<span>选择表</span>
		<div class="form-group" style="margin-right:30px;">
    		<select id="lunch" class="selectpicker" data-live-search="true" title="选择表" style="width:50px;">
        		<option>游击CHECK</option>
        		<option>AV控台区_大屏</option>
        		<option>AV控台区_灯光</option>
        		<option>公共信号字幕</option>
        		<option>公共信号赛前</option>
        		<option>公共信号赛后</option>
        		<option>公共信号音频</option>
        		<option>推流</option>
        		<option>推流周期1</option>
        		<option>推流周期2</option>
        		<option>推流周期3</option>
        		<option>推流周期4</option>
        		<option>赛事赛前</option>
        		<option>赛事进行</option>
        		<option>赛事赛后</option>
        		<option>票务&安保</option>
        		<option>采访席</option>
        		<option>内场</option>
      		</select>
    	</div>

		<span>选择日期</span>
		<div class="input-group date datepicker"  style="width:200px;" >
			<input id="day" type="text" class="form-control">
			<div class="input-group-addon ">
				<span class="glyphicon glyphicon-th "></span>
			</div>
		</div>
		<button type="button" class="btn btn-success" id="btnFormSave" style="width:100px;margin-left:30px;">查询</button>
		<button type="button" class="btn btn-success" id="btnExport" style="width:100px;margin-left:15px;">导出</button>
		</form>

	</div>

	<div class="export_bg" style="margin-top:20px;">
		<table id="table"></table>
	</div>
	

	<script type="text/javascript">
		var tabledata = new Array();
		var export_name = new String();

		$("#table").bootstrapTable({
			cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
			striped: true,  //表格显示条纹，默认为false

			columns: [
				{field:"region",title:"区域",align:'center',valign: 'middle'},
				{field:"code",title:"编号",align:'center',valign: 'middle'},
				{field:"inspect",title:"检查项",align:'center',valign: 'middle'},
				{field:"inspect_time",title:"检查时间",align:'center',valign: 'middle'},
				{field:"edit_man",title:"编辑人员",align:'center',valign: 'middle'},
				{field:"user_name",title:"检查人",align:'center',valign: 'middle'},
				{field:"user_desc",title:"备注",align:'center',valign: 'middle'},

			],
		});

		$(function(){
			
			$('.datepicker').datepicker({
				format: 'yyyymmdd',
				language: 'zh-CN'
			});
			$('#btnFormSave').click(function(e){
				var project_id = exchange_project_id($('#lunch').val());
				var day = $('#day').val()
				if (project_id == 0 || day.length == 0) {
					alert("筛选条件没有选择！")
				}
				else{
					export_name = $('#lunch').val();
					var url = http + "index/export_info";
					var dic = {"project_id":project_id,"day":day};
					$.post(url,dic,requestinfo);
				}
			});
			$('#btnExport').click(function(e){
				if (tabledata == 0) {
					alert("先查询，后导出");
				}
				else{
					$('#table').tableExport({
						type:'xlsx',
						fileName:export_name + timetrans_ymd()
					});
				}
				
			});
		})

		//获取数据后的操作
		function requestinfo(data,status){
			tabledata = new Array();
			tabledata = data["data"];
			var project_id = exchange_project_id($('#lunch').val());
			if (project_id != 4) {
				$('#table').bootstrapTable('hideColumn', "edit_man");
			}
			else{
				$('#table').bootstrapTable('showColumn', "edit_man");
			}
			//没有区域数据的隐藏区域列
			if (project_id == 1 || project_id == 4 || project_id == 5 || project_id == 13 || project_id == 16) {
				$('#table').bootstrapTable('showColumn', "region");
			}
			else{
				$('#table').bootstrapTable('hideColumn', "region");
			}
			var data_json = data["data"];
			$('#table').bootstrapTable('load', tabledata);
			//mergeCells(tabledata, "region", 1, $('#table'));
		}

		


		//合并相同名字单元格
		function mergeCells(data,fieldName,colspan,target){
    		//声明一个map计算相同属性值在data对象出现的次数和
    		var sortMap = {};
    		for(var i = 0 ; i < tabledata.length ; i++){
        		for(var prop in tabledata[i]){
            		if(prop == fieldName){
                		var key = tabledata[i][prop]
                		if(sortMap.hasOwnProperty(key)){
                    		sortMap[key] = sortMap[key] * 1 + 1;
                		} else {
                    		sortMap[key] = 1;
                		}
                		break;
            		} 
        		}
    		}
    		for(var prop in sortMap){
        		console.log(prop,sortMap[prop])
    		}
    		var index = 0;
    		for(var prop in sortMap){
        		var count = sortMap[prop] * 1;
        		$('#table').bootstrapTable('mergeCells',{index:index, field:fieldName, colspan: colspan, rowspan: count});   
        		index += count;
    		}
		}

	</script>
</body>
</html>